.footer-web {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    margin: 0px;
  }
  
  .footer-web hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  
  .footer-web hr.small {
    margin: 20px 0;
  }
  
  .footer-web h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  
  .footer-web a {
    color: #737373;
  }
  
  .footer-web a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-info {
    padding-left: 0;
    list-style: none;
  }
  
  .footer-info li {
    display: block;
  }
  
  .footer-info a {
    color: #737373;
  }
  
  .footer-info a:active,
  .footer-info a:focus,
  .footer-info a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-info.inline li {
    display: inline-block;
  }
  
  .footer-web .social-icons {
    text-align: right;
  }
  
  .footer-web .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
  }
  
  .copyright-text {
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .footer-web [class^=col-] {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .footer-web {
      padding-bottom: 0;
    }
    .footer-web .copyright-text,
    .footer-web .social-icons {
      text-align: center;
    }
  }
  