<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    {% include 'header.html' %}
    <div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/slide1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="slider-title">Mejora tu aprendizaje con la skill Formabit y su página web</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/slide2.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="slider-title">Variedad de herramientas para potenciar tu aprendizaje</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div id="pomodoro">
        <div id="container">
          <div id="pomodoro-timer">
            <h2 id="add-card-title">Técnica Pomodoro</h2>
            <p>Trabaja durante 25 minutos y descansa, y vuelta a empezar</p>
            <div id="time">
              <span id="minutes">25</span>
              <span id="separator">:</span>
              <span id="seconds">00</span>
            </div>
            <div id="fill"></div>
          </div>
          <div>
            <button id="work-button" class="btn btn-primary">Trabajo</button>
            <button id="short-break-button" class="btn btn-success">Descanso corto</button>
            <button id="long-break-button" class="btn btn-info">Descanso largo</button>
            <button id="stop-button" class="btn btn-danger">Parar</button>
        </div>
        </div>
      </div>
    <section id="main-content" class="container">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h2>Consulta a ChatGPT</h2>
                        <p>Envía tu consulta a ChatGPT y recibe tu respuesta </p>
                        <input id="inputPregunta" type="text" class="form-control" placeholder="Introduce tu pregunta a ChatGPT" />
                        <button type="submit" id="btnConsultaGPT" class="botonprimario">Consultar</button>
                        <textarea class="form-control" id="cajaTextoRespuesta"></textarea>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2>Consultar con ChatPDF</h2>
                    <p>Sube un pdf y obtén preguntas y respuestas sobre tu documento</p>
                    <input type="file" id="pdfInput" accept=".pdf" class="form-control">
                    <button type="submit" id="subirPDF" class="botonprimario">Subir PDF</button>
                    <div id="respuesta" class="form-control"></div>
                    <input type="text" id="preguntaInput" class="form-control" placeholder="Escribe tu pregunta">
                    <button type="submit" id="enviarPregunta" class="botonprimario">Enviar Pregunta</button>
                    <div id="respuestaObtenida" class="form-control"></div>
                </div>                
            </div>       
    </section>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</body>
</html>

